@import url("https://fonts.googleapis.com/css2?family=Poppins");

* {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

:root {
	--first: hsl(142, 76.2%, 36.3%);
	--second: hsl(222, 47.4%, 11.2%);
	--lightgrey: hsl(0, 0%, 96.1%);
}

::selection {
	color: #fff;
	background: var(--first);
}

body {
	background: var(--second);
	color: #fff;
}

main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	height: 100%;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-block: 20px;
}

header h1 {
	color: var(--first);
}

.conv-box {
	background: #fff;
	width: 85%;
	max-width: 500px;
	margin: 0 auto;
	border-radius: 8px;
}

.conv-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	gap: 24px;
	padding-block: 30px;
}

.conv-container > input {
	border: 2px solid var(--lightgrey);
	text-align: left;
	align-self: left;
	width: 80%;
	border-radius: 5px;
	padding: 8px 12px;
	font-size: 20px;
	caret-color: var(--second);
	background: var(--lightgrey);
}

.conv-container > input:hover,
.conv-container > input:focus {
	background: #fff;
	border-color: var(--first);
}

.select-btns {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
}

.select-btns > div {
	position: relative;
}

.select-btns select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: var(--second);
	border: 1px solid var(--second);
	border-radius: 5px;
	width: 60px;
	padding: 14px;
	font-size: 14px;
	color: #fff;
}

.select-btns select::after {
	content: "\25BC";
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	color: #777;
	pointer-events: none;
}

.conv-container > button {
	display: block;
	background: var(--first);
	color: #fff;
	font-size: 22px;
	padding: 8px 16px;
	border-radius: 6px;
	border: 2px solid var(--first);
}

.conv-container > button:hover,
.conv-container > button:focus {
	background: #fff;
	border-color: var(--second);
	color: var(--second);
}

.result {
	font-size: 20px;
	text-align: center;
	color: #000;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 36px;
	width: 60%;
	padding-block: 24px;
}

footer > li {
	list-style: none;
	font-size: 24px;
}

footer a {
	text-decoration: none;
	color: #fff;
}
